.color {
  float: left;
  width: 100px;
  height: 2020px;
}

.steps,
.rgb,
.iterator {
  float: left;
  margin-left: 20px;
  width: 100px;
}

.steps-item,
.rgb-item,
.iterator-item {
  height: 20px;
  line-height: 20px;
}
